.task-container {
    width: 290px;
    height: 214px;
    background: #FFFFFF;
    box-shadow: 0px 6px 40px rgba(30, 0, 89, 0.06);
    border-radius: 24px;
    padding: 20px;
}

.gap {
    gap: 16px;
}

.project-top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-text {
    padding: 10px 22px;
    width: auto;
    height: 36px;
    background: #ECF2FF;
    border-radius: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #1563FF;
}

.project-area-center p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #615D69;
}

::-moz-selection {
    /* Code for Firefox */
    color: #F93EFF;
    background: #FEEDFF;
}

::selection {
    color: #F93EFF;
    background: #FEEDFF;
}


.loader {
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    border: 4px solid transparent;
    position: relative;
    padding: 3px;
}

.loader:before {
    content: '';
    border: 1px solid  #F1ECFF;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
}

.loader .loaderBar {
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background: #754BE5;
    width: 0;
    animation: borealisBar 2s linear infinite;
}

@keyframes borealisBar {
    0% {
        left: 0%;
        right: 100%;
        width: 0%;
    }

    10% {
        left: 0%;
        right: 75%;
        width: 25%;
    }

    90% {
        right: 0%;
        left: 75%;
        width: 25%;
    }

    100% {
        left: 100%;
        right: 0%;
        width: 0%;
    }
}

.mouse-point{
    cursor: pointer;
}